.salesRevenueTitle {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 16px;
}

.salesRevenueChart {
  margin-top: 48px;
}
